*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

/* **Sidebar** */
.sidebar {
  grid-area: sidebar;
  background-color: #0ea5e9;
  color: white;
  font-weight: bold;
  padding: 1.5rem;
  display: grid;
  align-content: start;
  gap: 3rem;
}

.logo {
  display: grid;
  grid-template-columns: 3rem auto;
  align-items: center;
  gap: 1rem;
}

.logo img {
  filter: invert(1);
}

.logo span {
  font-size: 2rem;
}

.sidebar ul {
  list-style-type: none;
  display: grid;
  gap: 1rem;
}

.sidebar ul a {
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-columns: 3rem auto;
  align-items: center;
  gap: 1rem;
}

.sidebar ul img {
  height: 1.5rem;
  filter: invert(1);
  justify-self: center;
}

/* **Header** */
.header {
  grid-area: header;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem 2rem;
  padding: 0.5rem 2rem 1rem;
  box-shadow: 0px 5px 5px #94a3b8;
  z-index: 1;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

form .search-button {
  height: 1.5rem;
}
form [type="search"] {
  appearance: none;
  background-color: #e2e8f0;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  font-family: inherit;
}

.bell-user {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
}

.bell-user .bell {
  height: 1.5rem;
}

.bell-user .avatar {
  height: 3rem;
}

.greeting {
  font-weight: bold;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.greeting img {
  height: 5rem;
}

.greeting p {
  display: grid;
  font-size: 14px;
  align-items: center;
}

.greeting .username {
  font-size: 1.5rem;
  align-self: start;
}

.buttons ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.buttons button {
  appearance: none;
  background-color: #0ea5e9;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  border: none;
  width: calc(6ch + 2.5rem);
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

/* **Main Content** */
.main-content {
  grid-area: main-content;
  background-color: #cbd5e1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "projects aside";
  grid-template-rows: 100%;
  padding: 1.5rem 1.5rem 1rem 1rem;
  gap: 1.5rem;
}

/* **Main Content -- Projects** */
.projects {
  display: grid;
  gap: 1rem;
}

.projects > p {
  font-size: 20px;
  font-weight: bold;
}

.cards {
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
  overflow: auto;
  scroll-snap-type: y mandatory;
  gap: 1.5rem;
}

.card {
  scroll-snap-align: start;
  background-color: #fff;
  border-radius: 8px;
  border-left: 8px solid goldenrod;
  box-shadow: 5px 5px 5px #94a3b8;
  padding: 1.5rem;
  display: grid;
}

.card > .title {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.card .actions {
  margin-top: 1rem;
  align-self: end;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  gap: 1.5rem;
}
.actions img {
  cursor: pointer;
  height: 1.5rem;
}

/* **Main Content -- Aside** */
.main-content .aside {
  display: grid;
  align-content: start;
  gap: 2.5rem;
  overflow: auto;
  border-radius: 0.5rem;
  scroll-snap-type: y mandatory;
}

.aside > * {
  scroll-snap-align: start;
}

.announcements {
  display: grid;
  gap: 1rem;
}
.announcements > .title {
  font-size: 20px;
  font-weight: bold;
}
.announcements .posts {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px #94a3b8;
}

.announcements .post {
  width: 25ch;
}

.post:nth-child(1) {
  padding-bottom: 1rem;
}

.post:nth-child(2) {
  padding: 1rem 0;
  border-top: 2px solid #94a3b8;
  border-bottom: 2px solid #94a3b8;
}

.post:nth-child(3) {
  padding-top: 1rem;
}

.post > .title {
  cursor: pointer;
  font-weight: bold;
}

.post > .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 14px;
  color: #52525b;
}

.trending {
  display: grid;
  gap: 1rem;
}

.trending > .title {
  font-size: 20px;
  font-weight: bold;
}

.trending .trends {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px #94a3b8;
  display: grid;
  gap: 1.5rem;
}

.trends .trend {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

.trend .avatar {
  height: 3rem;
}

.trend p {
  display: grid;
  align-items: center;
}

.trend .user {
  font-weight: bold;
  cursor: pointer;
}
.user + span {
  color: #52525b;
}

/* **Scrollbar** */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #52525b;
}
